---
layout: default
title: Home
---

<main>
  <h2>Recent Posts</h2>
  <div class="posts">
    {% for post in paginator.posts %}
      <article class="post">
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        <div class="entry">
          <!-- {{ post.content | truncate: 300 }} -->
            {% assign lines = post.content | strip_html | split: '\n' %}
            {% assign first_five_lines = lines[0..4] %}
            {{ first_five_lines | join: '\n' }}

          </div>
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
    {% endfor %}
  </div>

  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Prev</a>
    {% else %}
      <span>Previous</span>
    {% endif %}
    
    <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    
    {% if paginator.next_page %}
      <a href="{{ site.baseurl }}{{ paginator.next_page_path }}">Next</a>
    {% else %}
      <span>Next</span>
    {% endif %}
  </div>
</main>
